stages:
  - build
  - deploy

cache:
  paths:
    - node_modules/
    
variables:
  CI: ""

build:
  stage: build
  image: node:11
  script:
    - npm install --progress=false
    - npm run build

deploy:
  stage: deploy
  image: ruby:2.4
  script:
    - apt-get update -qy
    - apt-get install -y ruby-dev
    - gem install dpl
    - dpl --provider=heroku --app=dsfrontend --api-key=9ccb43d6-5dea-459e-90bb-b910a7627e94
  environment:
    name: staging
    url: https://react-demo-ds2020.herokuapp.com/
  only:
    - production
